In [2]:
import os 
import pandas as pd 
import numpy as np

In [3]:
def ler_csv(arquivo_csv, cod_estacao, dt_inicio, dt_fim):
    """Lê o csv."""
    df = pd.read_csv(arquivo_csv, sep='\\t', engine='python')
    # Corrigir nomes das colunas para remover aspas e facilitar o acesso
    df.columns = [col.strip().replace('"', '') for col in df.columns]
    df.rename(columns={"Cod.estacao": "cod_estacao"}, inplace=True)
    df = df[df["cod_estacao"] == cod_estacao]
    df = df[(df["Data"] >= dt_inicio) & (df["Data"] <= dt_fim)]
    return df

In [4]:
arquivo_plu = os.path.join(os.getcwd(), "PLU_Series_ANA.txt")
arquivo_flu = os.path.join(os.getcwd(), "FLU_Series_ANA.txt")

In [5]:
# DADOS DE CHUVAS
# 1547002
df_1547002 = ler_csv(arquivo_plu, 1547002, '1974-01-01', '2012-12-31')

# 1547011
df_1547011 = ler_csv(arquivo_plu, 1547011, '1971-01-01', '2009-12-31')

# 1547071
df_1547071 = ler_csv(arquivo_plu, 1547071, '2010-01-01', '2021-12-31')

# 1547072
df_1547072 = ler_csv(arquivo_plu, 1547071, '2010-01-01', '2021-12-31')

# 1547073
df_1547073 = ler_csv(arquivo_plu, 1547073, '2010-01-01', '2016-12-31')

# 1547078
df_1547078 = ler_csv(arquivo_plu, 1547078, '2008-01-01', '2023-12-31')

In [6]:
# DADOS DE VAZÃO 
# 60473000
df_60473000 = ler_csv(arquivo_flu, 60473000, '1971-01-01', '2023-12-31')

# 60471185
df_60471185 = ler_csv(arquivo_flu, 60471185, '2010-01-01', '2017-12-31')

# 60474000
df_60474000 = ler_csv(arquivo_flu, 60474000, '1979-01-01', '1994-12-31')

# 60471200
df_60471200 = ler_csv(arquivo_flu, 60471200, '1990-01-01', '2023-12-31')

# 60474100
df_60474100 = ler_csv(arquivo_flu, 60474100, '1995-01-01', '2023-12-31')

# 60476000
df_60476000 = ler_csv(arquivo_flu, 60476000, '1971-01-01', '1975-12-31')

# 60476150
df_60476150 = ler_csv(arquivo_flu, 60476150, '1993-01-01', '1998-12-31')

# 60476100
df_60476100 = ler_csv(arquivo_flu, 60476100, '1978-01-01', '2014-12-31')

In [7]:
df_60476100

        cod_estacao  NivelConsistencia        Data        Hora    Vazao
383512     60476100                  1  1978-01-01  "00:00:00"  15.5264
383513     60476100                  1  1978-01-02  "00:00:00"  18.9841
383514     60476100                  1  1978-01-03  "00:00:00"  16.9050
383515     60476100                  1  1978-01-04  "00:00:00"  16.2839
383516     60476100                  1  1978-01-05  "00:00:00"  19.3318
...             ...                ...         ...         ...      ...
397021     60476100                  1  2014-12-27  "00:00:00"   9.2810
397022     60476100                  1  2014-12-28  "00:00:00"   8.5576
397023     60476100                  1  2014-12-29  "00:00:00"   8.0094
397024     60476100                  1  2014-12-30  "00:00:00"   7.6258
397025     60476100                  1  2014-12-31  "00:00:00"  11.5711

[13514 rows x 5 columns]

In [8]:
df_vazao = df_60473000[['Data','Vazao']].rename(columns={'Vazao':'60473000'})
df_vazao = df_vazao.merge(df_60471185[['Data','Vazao']].rename(columns={'Vazao':'60471185'}), on='Data', how='outer')
df_vazao = df_vazao.merge(df_60474000[['Data','Vazao']].rename(columns={'Vazao':'60474000'}), on='Data', how='outer')
df_vazao = df_vazao.merge(df_60471200[['Data','Vazao']].rename(columns={'Vazao':'60471200'}), on='Data', how='outer')
df_vazao = df_vazao.merge(df_60474100[['Data','Vazao']].rename(columns={'Vazao':'60474100'}), on='Data', how='outer')
df_vazao = df_vazao.merge(df_60476000[['Data','Vazao']].rename(columns={'Vazao':'60476000'}), on='Data', how='outer')
df_vazao = df_vazao.merge(df_60476150[['Data','Vazao']].rename(columns={'Vazao':'60476150'}), on='Data', how='outer')
df_vazao = df_vazao.merge(df_60476100[['Data','Vazao']].rename(columns={'Vazao':'60476100'}), on='Data', how='outer')
df_vazao = df_vazao.sort_values(by='Data').reset_index(drop=True)

In [9]:
df_chuva = df_1547011[['Data','Chuva']].rename(columns={'Chuva':'1547011'})
df_chuva = df_chuva.merge(df_1547002[['Data','Chuva']].rename(columns={'Chuva':'1547002'}), on='Data', how='outer')
df_chuva = df_chuva.merge(df_1547071[['Data','Chuva']].rename(columns={'Chuva':'1547071'}), on='Data', how='outer')
df_chuva = df_chuva.merge(df_1547072[['Data','Chuva']].rename(columns={'Chuva':'1547072'}), on='Data', how='outer')
df_chuva = df_chuva.merge(df_1547073[['Data','Chuva']].rename(columns={'Chuva':'1547073'}), on='Data', how='outer')
df_chuva = df_chuva.merge(df_1547078[['Data','Chuva']].rename(columns={'Chuva':'1547078'}), on='Data', how='outer')
df_chuva = df_chuva.sort_values(by='Data').reset_index(drop=True)

In [10]:
df_base = df_chuva.merge(df_vazao, on='Data', how='outer')

In [11]:
# Adiciona a interpretação do coeficiente de Pearson conforme a tabela fornecida
def interpretar_pearson(r):
    if pd.isnull(r):
        return 'Nula'
    r = abs(r)
    if r == 0:
        return 'Nula'
    elif 0 < r <= 0.20:
        return 'Ínfima fraca'
    elif 0.21 <= r <= 0.40:
        return 'Fraca'
    elif 0.41 <= r <= 0.60:
        return 'Moderada'
    elif 0.61 <= r <= 0.80:
        return 'Forte'
    elif 0.81 <= r <= 0.99:
        return 'Ínfima Forte'
    elif r == 1:
        return 'Perfeita'
    else:
        return 'Indefinida'     

# Loop para calcular a correlação de Pearson entre todas as estações pluviométricas e fluviométricas
plu_cols = [col for col in df_base.columns if str(col).startswith('15')]
flu_cols = [col for col in df_base.columns if str(col).startswith('60')]

correlacoes = []
for plu in plu_cols:
    for flu in flu_cols:
        corr = df_base[plu].corr(df_base[flu])
        correlacoes.append({'Pluviometrica': plu, 'Fluviometrica': flu, 'Pearson': corr})

df_correlacoes = pd.DataFrame(correlacoes)
df_correlacoes['Interpretacao'] = df_correlacoes['Pearson'].apply(interpretar_pearson)
df_correlacoes

   Pluviometrica Fluviometrica   Pearson Interpretacao
0        1547011      60473000  0.341508         Fraca
1        1547011      60471185       NaN          Nula
2        1547011      60474000  0.461299      Moderada
3        1547011      60471200  0.495372      Moderada
4        1547011      60474100  0.393709         Fraca
5        1547011      60476000  0.531240      Moderada
6        1547011      60476150  0.479254      Moderada
7        1547011      60476100  0.445527      Moderada
8        1547002      60473000  0.333523         Fraca
9        1547002      60471185  0.654100         Forte
10       1547002      60474000  0.419230      Moderada
11       1547002      60471200  0.517357      Moderada
12       1547002      60474100  0.355287         Fraca
13       1547002      60476000  0.376748         Fraca
14       1547002      60476150  0.428813      Moderada
15       1547002      60476100  0.441148      Moderada
16       1547071      60473000  0.309342         Fraca
17       1547071      60471185  0.474436      Moderada
18       1547071      60474000       NaN          Nula
19       1547071      60471200  0.437601      Moderada
20       1547071      60474100  0.388459         Fraca
21       1547071      60476000       NaN          Nula
22       1547071      60476150       NaN          Nula
23       1547071      60476100  0.562878      Moderada
24       1547072      60473000  0.309342         Fraca
25       1547072      60471185  0.474436      Moderada
26       1547072      60474000       NaN          Nula
27       1547072      60471200  0.437601      Moderada
28       1547072      60474100  0.388459         Fraca
29       1547072      60476000       NaN          Nula
30       1547072      60476150       NaN          Nula
31       1547072      60476100  0.562878      Moderada
32       1547073      60473000  0.318393         Fraca
33       1547073      60471185  0.456495      Moderada
34       1547073      60474000       NaN          Nula
35       1547073      60471200  0.324076         Fraca
36       1547073      60474100  0.361645         Fraca
37       1547073      60476000       NaN          Nula
38       1547073      60476150       NaN          Nula
39       1547073      60476100  0.372196         Fraca
40       1547078      60473000  0.355550         Fraca
41       1547078      60471185  0.523609      Moderada
42       1547078      60474000       NaN          Nula
43       1547078      60471200  0.445463      Moderada
44       1547078      60474100  0.367092         Fraca
45       1547078      60476000       NaN          Nula
46       1547078      60476150       NaN          Nula
47       1547078      60476100  0.544175      Moderada

In [15]:
# Transformar de longa para larga (pivotar a tabela)
df_correlacoes_larga = df_correlacoes.pivot(index='Fluviometrica', columns='Pluviometrica', values='Interpretacao')
df_correlacoes_larga

Pluviometrica   1547002   1547011   1547071   1547072   1547073   1547078
Fluviometrica
60471185          Forte      Nula  Moderada  Moderada  Moderada  Moderada
60471200       Moderada  Moderada  Moderada  Moderada     Fraca  Moderada
60473000          Fraca     Fraca     Fraca     Fraca     Fraca     Fraca
60474000       Moderada  Moderada      Nula      Nula      Nula      Nula
60474100          Fraca     Fraca     Fraca     Fraca     Fraca     Fraca
60476000          Fraca  Moderada      Nula      Nula      Nula      Nula
60476100       Moderada  Moderada  Moderada  Moderada     Fraca  Moderada
60476150       Moderada  Moderada      Nula      Nula      Nula      Nula