In [2]:
import os 
import pandas as pd 
import numpy as np

In [3]:
def ler_csv(arquivo_csv, cod_estacao, dt_inicio, dt_fim):
    """LÃª o csv."""
    df = pd.read_csv(arquivo_csv, sep='\\t', engine='python')
    # Corrigir nomes das colunas para remover aspas e facilitar o acesso
    df.columns = [col.strip().replace('"', '') for col in df.columns]
    df.rename(columns={"Cod.estacao": "cod_estacao"}, inplace=True)
    df = df[df["cod_estacao"] == cod_estacao]
    df = df[(df["Data"] >= dt_inicio) & (df["Data"] <= dt_fim)]
    return df

In [4]:
arquivo_plu = os.path.join(os.getcwd(), "PLU_Series_ANA.txt")

In [5]:
# Dados chuva 

# 1547002
df_1547002 = ler_csv(arquivo_plu, 1547002, '1974-01-01', '2012-12-31')

# 1547011
df_1547011 = ler_csv(arquivo_plu, 1547011, '1971-01-01', '2009-12-31')

# 1547078
df_1547078 = ler_csv(arquivo_plu, 1547078, '2008-01-01', '2023-12-31')

In [6]:
df_1547002

       cod_estacao  NivelConsistencia        Data        Hora  Chuva
135        1547002                  2  1974-01-01  "00:00:00"    0.0
136        1547002                  2  1974-01-02  "00:00:00"    0.0
137        1547002                  2  1974-01-03  "00:00:00"    0.0
138        1547002                  2  1974-01-04  "00:00:00"    0.0
139        1547002                  2  1974-01-05  "00:00:00"    0.0
...            ...                ...         ...         ...    ...
14375      1547002                  2  2012-12-27  "00:00:00"    0.0
14376      1547002                  2  2012-12-28  "00:00:00"    3.2
14377      1547002                  2  2012-12-29  "00:00:00"    6.7
14378      1547002                  2  2012-12-30  "00:00:00"    0.0
14379      1547002                  2  2012-12-31  "00:00:00"    0.0

[14245 rows x 5 columns]

In [17]:
dados_inicio = df_1547011[(df_1547011['Data'] >= '1973-01-01') & (df_1547011['Data'] <= '1973-12-31')]

In [9]:
dados_final = df_1547078[(df_1547078['Data'] >= '2010-01-01') & (df_1547078['Data'] <= '2013-12-31')]

In [23]:
dados_inicio['cod_estacao'] = 1547002
dados_final['cod_estacao'] = 1547002

C:\Users\rogerio.siqueira\AppData\Local\Temp\ipykernel_48084\3869179604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_inicio['cod_estacao'] = 1547002
C:\Users\rogerio.siqueira\AppData\Local\Temp\ipykernel_48084\3869179604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_final['cod_estacao'] = 1547002

In [ ]:
dados_inicio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 113760 to 114124
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cod_estacao        365 non-null    int64
 1   NivelConsistencia  365 non-null    int64
 2   Data               365 non-null    object
 3   Hora               365 non-null    object
 4   Chuva              365 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 17.1+ KB

In [24]:
dados_inicio

        cod_estacao  NivelConsistencia        Data        Hora  Chuva
113760      1547002                  1  1973-01-01  "00:00:00"    0.1
113761      1547002                  1  1973-01-02  "00:00:00"    1.1
113762      1547002                  1  1973-01-03  "00:00:00"   15.3
113763      1547002                  1  1973-01-04  "00:00:00"    0.0
113764      1547002                  1  1973-01-05  "00:00:00"    0.0
...             ...                ...         ...         ...    ...
114120      1547002                  1  1973-12-27  "00:00:00"    5.2
114121      1547002                  1  1973-12-28  "00:00:00"    0.0
114122      1547002                  1  1973-12-29  "00:00:00"    0.0
114123      1547002                  1  1973-12-30  "00:00:00"    0.0
114124      1547002                  1  1973-12-31  "00:00:00"    0.0

[365 rows x 5 columns]

In [25]:
dados_final

        cod_estacao  NivelConsistencia        Data        Hora  Chuva
491804      1547002                  1  2010-01-01  "00:00:00"   31.5
491805      1547002                  1  2010-01-02  "00:00:00"   30.3
491806      1547002                  1  2010-01-03  "00:00:00"    0.5
491807      1547002                  1  2010-01-04  "00:00:00"    0.0
491808      1547002                  1  2010-01-05  "00:00:00"    0.0
...             ...                ...         ...         ...    ...
493260      1547002                  1  2013-12-27  "00:00:00"   28.6
493261      1547002                  1  2013-12-28  "00:00:00"    NaN
493262      1547002                  1  2013-12-29  "00:00:00"    NaN
493263      1547002                  1  2013-12-30  "00:00:00"    NaN
493264      1547002                  1  2013-12-31  "00:00:00"    0.0

[1461 rows x 5 columns]

In [26]:
# Concatenar com o df_1547002 
df_1547002 = pd.concat([dados_inicio, df_1547002, dados_final]).reset_index(drop=True)

In [27]:
df_1547002

       cod_estacao  NivelConsistencia        Data        Hora  Chuva
0          1547002                  1  1973-01-01  "00:00:00"    0.1
1          1547002                  1  1973-01-02  "00:00:00"    1.1
2          1547002                  1  1973-01-03  "00:00:00"   15.3
3          1547002                  1  1973-01-04  "00:00:00"    0.0
4          1547002                  1  1973-01-05  "00:00:00"    0.0
...            ...                ...         ...         ...    ...
16066      1547002                  1  2013-12-27  "00:00:00"   28.6
16067      1547002                  1  2013-12-28  "00:00:00"    NaN
16068      1547002                  1  2013-12-29  "00:00:00"    NaN
16069      1547002                  1  2013-12-30  "00:00:00"    NaN
16070      1547002                  1  2013-12-31  "00:00:00"    0.0

[16071 rows x 5 columns]

In [28]:
# Exportar o dataframe final para um novo arquivo CSV
df_1547002.to_csv("serie_chuva_1547002_preenchida.csv", index=False)